# Общие системные файлы
.DS_Store
Thumbs.db

# Папки IDE
.vscode/
.idea/
.vs/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React
build/
dist/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Temp files
*.tmp
*.temp

# Windows-specific
*.lnk
*.lock
desktop.ini

# .NET
bin/
obj/
**/*.user
**/*.rsuser
**/*.suo
*.sln.docstates
*.sln.ide.*

# Visual Studio Code Workspace
.vscode/*

# Resharper
*.DotSettings.user

# Rider
.idea/*
